@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

#tela {
    height: 100vh;
    background: burlywood url(../pacote-d013/pacote-d013/imagens/fundo-madeira.jpg) center no-repeat fixed;
    background-size: cover;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

div#iphone {
    background: url(../pacote-d013/pacote-d013/imagens/frame-iphone-small.png) no-repeat;
    height: 447px;
    width: 222px;

    order: -1;
}

iframe {
    position: relative;
    top: 56px;
    left: 16px;
    height: 336px;
    width: 190px;
}

div#display {
    display: inline-flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
}

img {
    display: inline;
    box-sizing: border-box;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.555);
}

img:hover {
    border: 2px solid white;
    transform: translate(-3px, -3px);
    transition: transform 0.4s;
}
