@charset "UTF-8";

* {
    margin: 0px;
}

#tela {
    height: 100vh;
    background: burlywood url(../pacote-d013/pacote-d013/imagens/fundo-madeira.jpg) center no-repeat fixed;
    background-size: cover;
    /* position: relative; */

    display: flex;
    justify-content: flex-end;
}

div#iphone {
    background: url(../pacote-d013/pacote-d013/imagens/frame-iphone.png) no-repeat;
    height: 627px;
    width: 311px;

    align-self: center;
    order: -1;
    
    /* position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%); */
}

iframe {
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 267px;
}

div#display {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    padding: 15px;

}

img {
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.555);
}

img:hover {
    border: 2px solid white;
    transform: translate(-3px, -3px);
    transition: transform 0.4s;
}